# lombok对继承父类的属性默认不会有hashcode和equals方法，使用@Data注解会弹出警告
# Generating equals/hashCode implementation but without a call to superclass,
# even though this class does not extend java.lang.Object. If this is intentional, add '(callSuper=false)' to your type.
# 以下为全局配置文件，这样就不用在每个类上加@EqualsAndHashCode(callSuper = true)
config.stopBubbling=true
lombok.equalsAndHashCode.callSuper=call
