<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!--应用名称-->
    <property name="PATH" value="/var/log/mes"></property>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <Pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level[%thread]%logger{36}.%M:%L][%X{TRACE_ID}][%X{TENANT_ID}-%X{USER_NAME}]:%msg%n
            </Pattern>
        </encoder>
    </appender>
    <appender name="API_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PATH}/api-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${PATH}/api-trace.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout>
            <Pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level[%thread]%logger{36}.%M:%L][%X{TRACE_ID}][%X{TENANT_ID}-%X{USER_NAME}]:%msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PATH}/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${PATH}/all.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout>
            <Pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level[%thread]%logger{36}.%M:%L][%X{TRACE_ID}][%X{TENANT_ID}-%X{USER_NAME}]:%msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="common2.interceptor.ApiRecordInterceptor" level="DEBUG" additivity="false">
        <appender-ref ref="API_TRACE"/>
        <appender-ref ref="ALL"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO" additivity="false">
        <appender-ref ref="ALL"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>